<!-- install bootstrap for refinery http://stackoverflow.com/questions/14759712/rails-bootstrap-navbar-and-refinerycms & install page layout: http://railscasts.com/episodes/332-refinery-cms-basics?view=comments-->
<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<%= render '/refinery/head' %>
<body>
<%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
<div id="page_container" class="container">
  <header id="header">
    <%= render '/refinery/header' -%>
  </header>
  <section id="page">
    <%= yield %>
  </section>
  <footer class="footer">
    <%= render '/refinery/footer' -%>
  </footer>
  <%= site_bar -%>

  <%= render '/refinery/javascripts' %>


</div>
</body>
</html>


